<header>
	<nav>
		<%= link_to "Videos", videos_path %>
		<%= link_to "Users", users_path %>
		<%= link_to "Contact", controller: "pages", action: "show", page: "contact" %>
		<%= link_to "About", controller: "pages", action: "show", page: "about" %>
	</nav>

	<h1>MMT3</h1>
</header>

<div class="content_wrapper">
	<h2>Welcome</h2>
	<p>Click on one of the links in the navigation bar above, to navigate to the page you like.</p>
</div>