<header>
	<nav>
		<%= link_to "Back", root_path %>
	</nav>

	<h1>About</h1>
</header>

<div class="content_wrapper">
	<h2>About us</h2>
	<p>
		We are group MMT3.<br>
		Greetings from Arthur Crapé and Garben Tanghe!
	</p>
</div>